body {
  background: url('https://images.unsplash.com/photo-1543353071-873f17a7a088?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhlYWx0aHklMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
  }

  .App {
    background-color: #ebffffe8;
    padding: 30px;
  }
  
  h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: lighter;
  }
  
  input {
  display: block;
  width: 400px;
  border: 1.5px solid #313133;
  border-radius: 10px;
  color: #313133;
  font-size: 24px;
  background: rgba(49, 49, 51, 0);
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
  outline: none;
  }

  input::placeholder {
    color: #313133;
  }
  
  .addBtn {
  background-color: #03765d;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  padding: 15px 40px;
  margin: 0px 0px 30px 0px;
  }

  .addBtn:hover {
    background-color: #ffffff;
    border: solid 2px #03765d;
    color: #03765d;
    padding: 13px 38px;
  }

  .Meals {
    display: flex;
    flex-direction: column;
    background-color: #ebffff;
  }

  .aMeal {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 10px 0px;
  }
  
  p {
  margin: 0;
  font-family: "Inter", sans-serif;
  width: 400px;
  font-size: 24px;
  padding: 10px 10px;
  border-bottom: 1.5px solid #313133;
  font-weight: lighter;
  }

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0px 0px 0px 20px;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  background-color: #ebffffe8;
  border-radius: 10px;
  border: solid 2px #313133;
  padding: 10px;
}

.second {
  margin: 0px 0px 0px 15px;
}

.first:hover {
  background-color: #03765d;
} 

.second:hover {
  background-color: #ff4040e8;
} 
